body {
    background-color:#171717;
    font-size: 18px;
    font-family: "Handlee" cursive;
}

.tarjeta {
    background-color:white;
    width: 500px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

h1 {
    font-size: 30px;
    font-family: 'Handlee', cursive;
}

.parrafo {
    float: left;
    width: 50%;
    font-family: 'Handlee', cursive;
}

/*
.header{
    overflow: hidden;
}
*/

.header h1 {
    margin: 0;
}


.header img {
    float: right;
    max-width: 60px;
}

.imagen {
    position: relative;
    top: 200%;
}

.formulario {
    float: right;
    width: 50%;
}

.formulario input {
    display: block;
    text-align: right;
}

.formulario input [type=text] {
    border: none;
    width: 250px;
    border-bottom: 3px solid grey;
    padding: 10px;
    text-align: center;
}

.parrafo-formulario [type=text] {
    border-bottom: 1px solid grey;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: left;
    width: 180px;
    margin-bottom: 10px;
    padding: 5px;
   
}

.parrafo-formulario  {
     overflow: hidden;
}

.boton {
    padding: 10px;
    text-align: center;
}

.boton input [type=submit] {  
    border-bottom: 1px solid gray;
    text-align: center;
    border: none;
}

input {
    font-size: 16px;
    font-family: 'Handlee', cursive;
}
